[Unit]
Description=DocServer Web Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
WorkingDirectory=/home/ubuntu/
Environment="PATH=/home/ubuntu/.local/bin:/bin:/usr/bin"
ExecStart=bash -c "python3 -m waitress --threads=20 --url-prefix=docserve --port 8084 --call docserve.server:create_app"


[Install]
WantedBy=multi-user.target
